## Notebook para probar de las funciónes de la API

In [29]:
import pandas as pd
import warnings
import numpy as np
import json
from fastapi import FastAPI, Response
from fastapi.responses import JSONResponse
warnings.filterwarnings('ignore')
import datetime

In [30]:
meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
dias_es = ['lunes', 'martes', 'miercoles', 'jueves','viernes','sabado','domingo',"lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo"]
dias_en = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

# Datasets
data = pd.read_csv('../final_data/combined_data.csv',sep=',')
cast = pd.read_csv('../final_data/final_cast.csv')

movies = data[['title','genres','director']]
movies = movies.dropna(subset=['genres']) # Elimino las peliculas que tienen vacio el campo de 'genres'

data.release_date = data.release_date.apply(lambda x: pd.to_datetime(x).date() if '-' in x else x)
data['release_weekday']= data.release_date.apply(lambda x: x.strftime('%A') if type(x) == datetime.date else np.nan)

In [32]:
data.sample(2)

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return,director,actors,release_weekday
33894,Paranormal Activity Collection,10000000.0,Horror|Thriller,146301,en,"Using a special camera that can see spirits, a...",9.185701,Blumhouse Productions|Paramount Pictures,United States of America,2014-12-12,...,5.0,435.0,US,2014,12,12,7.809655,Gregory Plotkin,Chris J. Murray|Brit Shaw|Ivy George|Dan Gill|...,Friday
6235,Nevada Smith Collection,0.0,Action|Western,5921,en,Nevada Smith is the young son of an Indian mot...,6.974375,Embassy Pictures|Paramount Pictures|Solar Prod...,United States of America,1970-05-01,...,6.9,34.0,US,1970,5,1,0.000000,Henry Hathaway,Steve McQueen|Karl Malden|Brian Keith|Arthur K...,Friday

`def cantidad_filmaciones_mes(mes:str):`

In [42]:
def cantidad_filmaciones_mes(mes:str):
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'''
    mes = mes.lower()
    if mes not in meses:
        return {'mensaje':'Ingresar un mes en idioma Español'}
    else:
        mes_numero = meses.index(mes)
        cantidad_xmes = float(data['movie_id'].loc[data.release_month == mes_numero].count())
        data_json = {'mes':mes,'cantidad_fimaciones_mes':cantidad_xmes}

        return data_json

In [46]:
cantidad_filmaciones_mes('OCtubrE')

{'mes': 'octubre', 'cantidad_fimaciones_mes': 4842.0}

`def cantidad_filmaciones_dia(dia:str):`

In [47]:
def cantidad_filmaciones_dia(dia:str):
    '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrebaron ese dia historicamente'''
    dia = dia.lower()
    if dia not in dias_es:
        data_json = {'mensaje':'Se requiere de un dia de la semana en idioma Espaniol (Spanish)'}
 
    else:
        dia_index = dias_es.index(dia)
        cantidad_xdia = data.movie_id.loc[data.release_weekday == dias_en[dia_index]].count()
        data_json = {'dia':dia.capitalize(), 'cantidad_filmaciones_dia':int(cantidad_xdia)}

    return data_json

In [48]:
cantidad_filmaciones_dia('JUEves')

{'dia': 'Jueves', 'cantidad_filmaciones_dia': 7528}

`def score_titulo(titulo:str):`

In [50]:
def score_titulo(titulo:str):
    '''Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score'''
    filmaciones = list(data.title.unique())
    if titulo not in filmaciones:
        data_json = {'titulo':'No se encuentra la pelicula en la base de datos'}
    else:
        movie_index = data.loc[data.title == titulo].index
        movie_year = data.release_year.iloc[movie_index]
        movie_score = data.popularity.iloc[movie_index]

        if pd.isna(movie_year).any():
            movie_year = 'Desconocido'
        else:
            movie_year = int(movie_year.iloc[0])

        if pd.isna(movie_score).any():
            movie_score = 'Desconocido'
        else:
            movie_score = float(movie_score.iloc[0])

        data_json = {'titulo':titulo,
                    'anio':movie_year,
                    'popularity':movie_score}

    return data_json

In [53]:
score_titulo('The Avengers')

{'titulo': 'The Avengers', 'anio': 1998, 'popularity': 9.562953}

`def votos_titulo(titulo:str):`

In [64]:
def votos_titulo(titulo:str):
    '''Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. 
    La misma variable deberá de contar con al menos 2000 valoraciones, 
    caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.'''
    filmaciones = list(data.title.unique())
    if titulo not in filmaciones:
        data_json = {'titulo': 'Movie not found'}
    else:
        movie_index = data.loc[data.title == titulo].index
        movie_year = data.release_year.iloc[movie_index].tolist()[0] if pd.notna(data.release_year.iloc[movie_index]).any() else 'Desconocido'
        movie_vote_count = data.vote_count.iloc[movie_index].tolist()[0] if pd.notna(data.vote_count.iloc[movie_index]).any() else 'Desconocido'
        movie_vote_average = data.vote_average.iloc[movie_index].tolist()[0] if pd.notna(data.vote_average.iloc[movie_index]).any() else 'Desconocido'

        if pd.notna(movie_vote_count) and int(movie_vote_count) < 2000:
            movie_vote_count = 'Insuficientes votos'
            movie_vote_average = 'Insuficientes votos'
            mensaje = 'Este titulo tiene menos de 2000 votos'

        data_json = {
            'titulo': titulo,
            'anio': int(movie_year) if isinstance(movie_year, float) else movie_year,
            'votos': int(movie_vote_count) if isinstance(movie_vote_count, float) else movie_vote_count,
            'valoracion_promedio': float(movie_vote_average) if isinstance(movie_vote_average, float) else movie_vote_average,
            'mensaje': mensaje if 'mensaje' in locals() else None}
        
    return data_json

In [67]:
votos_titulo('Minions')

{'titulo': 'Minions',
 'anio': 2008,
 'votos': 4729,
 'valoracion_promedio': 6.4,
 'mensaje': None}

`def get_actor(nombre_actor:str):`

In [68]:
def get_actor(nombre_actor:str):
    '''Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    Además, la cantidad de películas que en las que ha participado y el promedio de retorno'''
    all_actors = list(cast.name.unique())

    if nombre_actor not in all_actors:
        data_json = {'mensaje':'Actor not found'}
    else:
        cantidad_titulos_actor = int(data.movie_id.loc[data.actors.fillna('').str.contains(nombre_actor)].count())
        retorno_actor = float(data['return'].loc[data.actors.fillna('').str.contains(nombre_actor)].sum())
        promedio_x_pelicula = retorno_actor / cantidad_titulos_actor

        data_json = {'actor':nombre_actor,
                'cantidad_filmaciones':cantidad_titulos_actor,
                'retorno_total_del_actor':retorno_actor,
                'promedio_de_retorno_por_pelicula':promedio_x_pelicula}
    
    return data_json

In [69]:
get_actor('Tom Hanks')

{'actor': 'Tom Hanks',
 'cantidad_filmaciones': 71,
 'retorno_total_del_actor': 178.8494960552024,
 'promedio_de_retorno_por_pelicula': 2.5190069866929914}

`def get_director(nombre_director:str):`

In [70]:
def get_director(nombre_director:str):
    ''' Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.'''
    
    if nombre_director not in data.director.unique():
        data_json = {'mensaje':'Director no encontrado en la base de datos'}
    else:
        retorno_total_director = data['return'].loc[data.director == nombre_director].sum()
        movies_indexes = data.title.loc[data.director == nombre_director].index
        movies_data = []
        for index in movies_indexes:
            movie_title = data.title.iloc[index]
            movie_release_year = data.release_year.iloc[index]
            movie_return = data['return'].iloc[index]
            movie_budget = data.budget.iloc[index]
            movie_revenue = data.revenue.iloc[index]

            info = {'title':movie_title,
                    'release_year':movie_release_year,
                    'return':movie_return,
                    'budget':movie_budget,
                    'revenue':movie_revenue}
            movies_data.append(info)
            
        data_json = {'director':nombre_director,
                'retorno_total_director':retorno_total_director,
                'peliculas':movies_data}
    
    return data_json

In [71]:
get_director('James Cameron')

{'director': 'James Cameron',
 'retorno_total_director': 54.23441585285313,
 'peliculas': [{'title': 'True Lies',
   'release_year': 1994,
   'return': 3.2946296608695653,
   'budget': 115000000.0,
   'revenue': 378882411.0},
  {'title': 'Terminator 2: Judgment Day',
   'release_year': 1991,
   'return': 5.2,
   'budget': 100000000.0,
   'revenue': 520000000.0},
  {'title': 'The Abyss',
   'release_year': 1981,
   'return': 1.2857156857142855,
   'budget': 70000000.0,
   'revenue': 90000098.0},
  {'title': 'Aliens',
   'release_year': 1987,
   'return': 9.908997567567567,
   'budget': 18500000.0,
   'revenue': 183316455.0},
  {'title': 'The Terminator',
   'release_year': 1989,
   'return': 12.2455,
   'budget': 6400000.0,
   'revenue': 78371200.0},
  {'title': 'Titanic',
   'release_year': 1996,
   'return': 9.22517094,
   'budget': 200000000.0,
   'revenue': 1845034188.0},
  {'title': 'Piranha Part Two: The Spawning',
   'release_year': 2002,
   'return': 0.0,
   'budget': 145786.0,
   'revenue': 0.0},
  {'title': 'Ghosts of the Abyss',
   'release_year': 2003,
   'return': 1.3108362307692307,
   'budget': 13000000.0,
   'revenue': 17040871.0},
  {'title': 'Aliens of the Deep',
   'release_year': 2004,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0},
  {'title': 'Avatar',
   'release_year': 2009,
   'return': 11.763565767932487,
   'budget': 237000000.0,
   'revenue': 2787965087.0},
  {'title': 'Avatar 2',
   'release_year': 2006,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0},
  {'title': 'T2 3-D: Battle Across Time',
   'release_year': 2015,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0}]}

---

#### Seleccion de las columnas para la función de `recomendación`
*No selecciono la columna de overview porque si no mi matriz de similitud se va hacer muy pesada y dificil de procesar*

In [4]:
movies = data[['title','genres','director','popularity']]
movies.sample(2)

,title,genres,director,popularity
13291,My Bloody Valentine,Horror|Mystery,Patrick Lussier,5.245883
3935,I'm Gonna Git You Sucka,Action|Comedy,Keenen Ivory Wayans,3.719260

In [5]:
movies.genres = movies.genres.str.replace('|',' ')

In [6]:
movies['joined_data'] = movies[['title','genres','director']].astype(str).apply(' '.join, axis=1)
movies.sample()

,title,genres,director,popularity,joined_data
45027,A Hunting Accident,Drama Romance,Emil Loteanu,0.65511,A Hunting Accident Drama Romance Emil Loteanu

Cálculo de similitud de puntuación

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
#from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.metrics.pairwise import linear_kernel
 
# Elejí usar TfidfVectorizer para la vectorizacion de los datos en vez de CountVectorizer. Si bien este ultimo es mejor por cuestiones de memoria, 
# el TfidfVectorizer brinda mayor precision a la hora de buscar una puntuación de similitud en las cadenas de strings

In [8]:
vectorizer = TfidfVectorizer(stop_words='english') # Elimino las palabras mas comunes del ingles

In [9]:
movies.genres.isnull().sum()

2383

Veo cuales son las peliculas que tiene en el campo de género un valor vacio y ordeno el resultado dependiendo la popularidad de la misma

In [10]:
movies.loc[movies.genres.isnull()].sort_values(by='popularity', ascending=False).head(20)

,title,genres,director,popularity,joined_data
20850,The Scapegoat,NaN,Charles Sturridge,7.618217,The Scapegoat nan Charles Sturridge
7889,Fahrenheit 9/11,NaN,Michael Moore,6.839460,Fahrenheit 9/11 nan Michael Moore
30783,My Date with the President's Daughter,NaN,Alex Zamm,5.019029,My Date with the President's Daughter nan Alex...
44772,Notte prima degli esami - Oggi,NaN,Fausto Brizzi,4.345520,Notte prima degli esami - Oggi nan Fausto Brizzi
25866,Viaggi di nozze,NaN,Carlo Verdone,4.323640,Viaggi di nozze nan Carlo Verdone
37395,La Vacanza,NaN,Tinto Brass,4.158529,La Vacanza nan Tinto Brass
43072,I still hide to smoke,NaN,Rayhana Obermeyer,3.589741,I still hide to smoke nan Rayhana Obermeyer
32019,School of Thieves,NaN,Neri Parenti,3.080456,School of Thieves nan Neri Parenti
32024,Fracchia The Human Beast,NaN,Neri Parenti,3.053669,Fracchia The Human Beast nan Neri Parenti
30589,Koyla,NaN,Rakesh Roshan,3.037553,Koyla nan Rakesh Roshan
25151,Altman,NaN,Ron Mann,3.031063,Altman nan Ron Mann
34706,Doctor Who: A Christmas Carol,NaN,Toby Haynes,2.906731,Doctor Who: A Christmas Carol nan Toby Haynes
25447,And Then There Was You,NaN,Leila Djansi,2.686014,And Then There Was You nan Leila Djansi
42570,White Rose Campus: Then... Everybody Gets Raped,NaN,Kôyû Ohara,2.656714,White Rose Campus: Then... Everybody Gets Rape...
22357,The Citizen,NaN,Sam Kadi,2.546614,The Citizen nan Sam Kadi
41626,The Giant,NaN,Johannes Nyholm,2.525014,The Giant nan Johannes Nyholm
36024,Medeas,NaN,Andrea Pallaoro,2.517507,Medeas nan Andrea Pallaoro
13993,Lost in Austen,NaN,Dan Zeff,2.308860,Lost in Austen nan Dan Zeff
35907,According to Pereira,NaN,Roberto Faenza,2.287102,According to Pereira nan Roberto Faenza
37439,Joi Baba Felunath,NaN,Satyajit Ray,2.238456,Joi Baba Felunath nan Satyajit Ray

Como no son peliculas muy conocidas y tampoco son muchas, decido eliminarlas del dataset. Tomo esta decision porque al momento de recurrir a la función de recomendación de película, el modelo de machine learning debe seleccionar entre las peliculas que tienen el mismo género cinematografico para relacionarlas y en los casos de estas peliculas seria irrelevante ya que no tienen defino un género.

In [11]:
movies = movies.dropna(subset='genres')

In [12]:
movies.title.sample().values

array(['Paid in Full'], dtype=object)

### Desarrollo de la función

In [13]:
def recomendacion(title):
    """Get the recommendation for a given title"""
    # Obtengo los géneros de la pelicula
    if title not in movies.title.unique():
        data_json = {'mensaje':'Pelicula no encontrada'}
    else:
        # Obtengo los géneros de la pelicula
        movie_genres = movies['genres'].loc[movies['title'] == title]
        #movie_genres = movie_genres.values[pd.isna(movie_genres.values) == False].item()
        movie_genres = sorted(movie_genres, key= lambda x: len(x), reverse=True) # Ordenar los géneros en función del len()


        # Separo los generos en una lista
        #genres = [v.split(' ') for v in movie_genres if isinstance(v,str)]

        # Filtro el dataframe con las peliculas que tengan los mismos géneros que la pelicula de interes
        # y con las peliculas que tengan en su titulo el nombre de la pelicula de interes
        similar_movies = movies.loc[(movies.genres.fillna(' ').str.contains(movie_genres[0])) | (movies.title.str.contains(title))].reset_index(drop=True)
        max_len = 3500
        if len(similar_movies) > max_len:
            similar_movies = similar_movies.sort_values(by='popularity', ascending=False).reset_index(drop=True)[:max_len]

        # Obtengo el indice en el dataframe filtrado de la pelicula de interes
        movie_index = similar_movies.loc[similar_movies['title'] == title].index
        
        if len(movie_index) == 0:
            similar_movies = similar_movies.append(movies.loc[movies.title == title]).reset_index(drop=True)
            movie_index = similar_movies.loc[similar_movies['title'] == title].index

        # Vectorizo los datos
        data_matrix = vectorizer.fit_transform(similar_movies.joined_data)
        # Genero la matriz de puntuación de similitud entre las peliculas
        similarity_matrix = cosine_similarity(data_matrix,data_matrix)

        sim_movies = list(enumerate(similarity_matrix[movie_index[0]]))
        sim_movies = sorted(sim_movies, key=lambda x: x[1], reverse=True)
        top_similar_movies = [similar_movies.loc[i, 'title'] for i, _ in sim_movies[1:20] if similar_movies.loc[i, 'title'] != title][:5]
        data_json = {'similar_movies':top_similar_movies}

    
    return data_json

In [14]:
recomendacion('The Avengers')

{'similar_movies': ['Avengers: Age of Ultron',
  'The Island',
  'Armageddon',
  'I Am Number Four',
  'Mad Max']}