In [66]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import tabulate

In [67]:
movies_data = pd.read_csv('../datasets/movies_dataset.csv')
movies_df = movies_data.copy()

In [68]:
movies_df[:5]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Tratamiento para la columna 'belongs_to_collection'

In [69]:
for value in movies_df.belongs_to_collection:
    if type(value) != str:
        continue
    else:
        list_values = value.split(',')
        if len(list_values) >= 2:
            block = list_values[1].split(':')
            movies_df.belongs_to_collection.loc[movies_df['belongs_to_collection'] == value] = block[1].replace("'",'')
        else:
            pass

Tratamiento para la columna 'genres'

In [70]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [71]:
for i, value in enumerate(movies_df.genres):
    lista_limpia = []
    if len(value) < 5:
        continue
    else:
        value = value.replace('id','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace(':','').replace("'","")
        list_values = value.split(',')
        for item in list_values:
            item = item.lstrip()
            if item.isnumeric():
                continue
            else:
                lista_limpia.append(item)
                lista_limpia.sort()
                movies_df.at[i, 'genres'] = str(lista_limpia).replace("'",'')

Se puede ver que tranquilamente es apto para hacer filtraciones, lo cual es magnifico

In [72]:
movies_df.loc[movies_df.genres.str.contains('Comedy')]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
2,False,Grumpy Old Men Collection,0,"[Comedy, Romance]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
6,False,NaN,58000000,"[Comedy, Romance]",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45443,False,NaN,0,"[Comedy, Fantasy, Science Fiction]",NaN,49279,tt0000359,fr,L'Homme Ã la tÃªte de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1901-01-01,0.0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29.0
45445,False,NaN,0,"[Comedy, Fantasy]",NaN,49277,tt0135122,en,Les affiches en goguette,A wall full of advertising posters comes to life.,...,1906-01-01,0.0,3.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'is...",Released,NaN,The Hilarious Posters,False,4.5,2.0
45446,False,NaN,0,"[Comedy, Fantasy]",NaN,49271,tt0127948,en,Le locataire diabolique,A man rents an apartment and furnishes it in r...,...,1909-01-01,0.0,6.0,[],Released,NaN,The Devilish Tenant,False,6.7,12.0
45451,False,NaN,0,"[Comedy, Fantasy]",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0
45454,False,NaN,0,"[Comedy, Drama]",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0

Tratamiento para la columna 'spoken_languages'

In [73]:
for index, value in enumerate(movies_df.spoken_languages):
    main_list = []
    if isinstance(value, str):
        value = value.replace('iso_639_1','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace("'","").replace(',','')
        list_values = value.split(':')
        for item in list_values:
            item = item.strip()
            if len(item) > 2:
                main_list.append(item)
    
        main_list.sort()
        movies_df.at[index, 'spoken_languages'] = str(main_list).replace("'",'')

Ejemplo de filtraciÃ³n de las peliculas que estan disponible en el idioma EspaÃ±ol

In [74]:
movies_df.title.loc[movies_df.spoken_languages.notnull() & movies_df.spoken_languages.str.contains('EspaÃ±ol')]

5                        Heat
9                   GoldenEye
22                  Assassins
38                   Clueless
42                Restoration
                 ...
45317       Enlightened blood
45331          The Olive Tree
45344      Vampires in Havana
45370    How Most Things Work
45420          Arabian Nights
Name: title, Length: 2413, dtype: object

Tratamiento de la columna 'production_companies'

In [75]:
for index, value in enumerate(movies_df.production_companies):
    main_list = []
    if isinstance(value, str):
        value = value.replace('id','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace("'","").replace(',','')
        list_values = value.split(':')
        for item in list_values:
            item = item.strip()
            if (not item.isdigit() or not item.isnumeric()) and len(item) > 3:
               main_list.append(item)
    main_list.sort()
    production_companies_str = '[{}]'.format(', '.join(main_list))
    movies_df.at[index, 'production_companies'] = production_companies_str

In [76]:
movies_df.production_companies

0                                [Pixar Animation Studios]
1        [Interscope Communications, Teitler Film, TriS...
2                           [Lancaster Gate, Warner Bros.]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45461                                                   []
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

Tratamiento de la columna 'production_countries'

In [77]:
movies_df.production_countries.unique()

array(["[{'iso_3166_1': 'US', 'name': 'United States of America'}]",
       "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]",
       "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]",
       ...,
       "[{'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'SK', 'name': 'Slovakia'}]",
       "[{'iso_3166_1': 'CU', 'name': 'Cuba'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]",
       "[{'iso_3166_1': 'EG', 'name': 'Egypt'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"],
      dtype=object)

Creo una columna para alojar los codigos de los paises

In [78]:
movies_df['production_countries_code'] = np.nan

In [79]:
for index, value in enumerate(movies_df.production_countries):
    countries_names = []
    countries_codes = []
    if isinstance(value, str):
        value = value.replace('iso_3166_1','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace("'","").replace(',','')
        list_values = value.split(':')
        for item in list_values:
            if item:
                item = item.lstrip().rstrip()
                if not item.isupper():
                    countries_names.append(item)
                else:
                    countries_codes.append(item)
                    
        countries_names.sort()
        countries_codes.sort()
        movies_df.at[index, 'production_countries'] = str(countries_names).replace("'",'')
        movies_df.at[index, 'production_countries_code'] = str(countries_codes).replace("'",'')

In [80]:
movies_df.production_countries

0        [United States of America]
1        [United States of America]
2        [United States of America]
3        [United States of America]
4        [United States of America]
                    ...
45461                        [Iran]
45462                 [Philippines]
45463    [United States of America]
45464                      [Russia]
45465              [United Kingdom]
Name: production_countries, Length: 45466, dtype: object

In [81]:
movies_df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_countries_code
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,[US]
1,False,NaN,65000000,"[Adventure, Family, Fantasy]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[English, FranÃ§ais]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,[US]

Ahora con el dataset limpio, procedo a exportarlo como 'csv'

In [82]:
def export_to_csv(dataframe, path):
    dataframe.to_csv(path, sep=',',index=False,lineterminator='\n')
    print('CSV Downloaded')

In [83]:
export_to_csv(movies_df,'../clean_data/clean_movies_dataset.csv')

CSV Downloaded