In [384]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime

In [385]:
movies_data = pd.read_csv('../datasets/movies_dataset.csv')
movies_df = movies_data.copy()

In [386]:
movies_df[:5]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Elimino las columnas que no son de mucha importancia

In [387]:
movies_df= movies_df.drop(columns={'video','imdb_id','adult','original_title','poster_path','homepage'})

In [388]:
movies_df.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0

Tratamiento para la columna 'belongs_to_collection'

In [389]:
for value in movies_df.belongs_to_collection:
    if type(value) != str:
        continue
    else:
        list_values = value.split(',')
        if len(list_values) >= 2:
            block = list_values[1].split(':')
            movies_df.belongs_to_collection.loc[movies_df['belongs_to_collection'] == value] = block[1].replace("'",'')
        else:
            pass

In [390]:
movies_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0

Tratamiento para la columna 'genres'

In [391]:
for i, value in enumerate(movies_df.genres):
    lista_limpia = []
    if len(value) < 5:
        continue
    else:
        value = value.replace('id','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace(':','').replace("'","")
        list_values = value.split(',')
        for item in list_values:
            item = item.lstrip()
            if item.isnumeric():
                continue
            else:
                lista_limpia.append(item)
                lista_limpia.sort()
                movies_df.at[i, 'genres'] = str(lista_limpia).replace("'",'')

Se puede ver que tranquilamente es apto para hacer filtraciones, lo cual es magnifico

In [392]:
movies_df.loc[movies_df.genres.str.contains('Comedy')].head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0
2,Grumpy Old Men Collection,0,"[Comedy, Romance]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0

Tratamiento para la columna 'spoken_languages'

In [393]:
for index, value in enumerate(movies_df.spoken_languages):
    main_list = []
    if isinstance(value, str):
        value = value.replace('iso_639_1','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace("'","").replace(',','')
        list_values = value.split(':')
        for item in list_values:
            item = item.strip()
            if len(item) > 2:
                main_list.append(item)
    
        main_list.sort()
        movies_df.at[index, 'spoken_languages'] = str(main_list).replace("'",'')

Ejemplo de filtraciÃ³n de las peliculas que estan disponible en el idioma EspaÃ±ol

In [394]:
movies_df.title.loc[movies_df.spoken_languages.notnull() & movies_df.spoken_languages.str.contains('EspaÃ±ol')]

5                        Heat
9                   GoldenEye
22                  Assassins
38                   Clueless
42                Restoration
                 ...
45317       Enlightened blood
45331          The Olive Tree
45344      Vampires in Havana
45370    How Most Things Work
45420          Arabian Nights
Name: title, Length: 2413, dtype: object

Tratamiento de la columna 'production_companies'

In [395]:
for index, value in enumerate(movies_df.production_companies):
    main_list = []
    if isinstance(value, str):
        value = value.replace('id','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace("'","").replace(',','')
        list_values = value.split(':')
        for item in list_values:
            item = item.strip()
            if (not item.isdigit() or not item.isnumeric()) and len(item) > 3:
               main_list.append(item)
    main_list.sort()
    production_companies_str = '[{}]'.format(', '.join(main_list))
    movies_df.at[index, 'production_companies'] = production_companies_str

In [396]:
movies_df.production_companies

0                                [Pixar Animation Studios]
1        [Interscope Communications, Teitler Film, TriS...
2                           [Lancaster Gate, Warner Bros.]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45461                                                   []
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

Tratamiento de la columna 'production_countries'

In [397]:
movies_df.production_countries.unique()

array(["[{'iso_3166_1': 'US', 'name': 'United States of America'}]",
       "[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]",
       "[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]",
       ...,
       "[{'iso_3166_1': 'PL', 'name': 'Poland'}, {'iso_3166_1': 'CZ', 'name': 'Czech Republic'}, {'iso_3166_1': 'SK', 'name': 'Slovakia'}]",
       "[{'iso_3166_1': 'CU', 'name': 'Cuba'}, {'iso_3166_1': 'DE', 'name': 'Germany'}, {'iso_3166_1': 'ES', 'name': 'Spain'}]",
       "[{'iso_3166_1': 'EG', 'name': 'Egypt'}, {'iso_3166_1': 'IT', 'name': 'Italy'}, {'iso_3166_1': 'US', 'name': 'United States of America'}]"],
      dtype=object)

Creo una columna para alojar los codigos de los paises

In [398]:
movies_df['production_countries_code'] = np.nan

In [399]:
for index, value in enumerate(movies_df.production_countries):
    countries_names = []
    countries_codes = []
    if isinstance(value, str):
        value = value.replace('iso_3166_1','').replace('name','').replace('{','').replace('}','').replace('[','').replace(']','')
        value = value.replace("'","").replace(',','')
        list_values = value.split(':')
        for item in list_values:
            if item:
                item = item.lstrip().rstrip()
                if not item.isupper():
                    countries_names.append(item)
                else:
                    countries_codes.append(item)
                    
        countries_names.sort()
        countries_codes.sort()
        movies_df.at[index, 'production_countries'] = str(countries_names).replace("'",'')
        movies_df.at[index, 'production_countries_code'] = str(countries_codes).replace("'",'')

In [400]:
movies_df.production_countries

0        [United States of America]
1        [United States of America]
2        [United States of America]
3        [United States of America]
4        [United States of America]
                    ...
45461                        [Iran]
45462                 [Philippines]
45463    [United States of America]
45464                      [Russia]
45465              [United Kingdom]
Name: production_countries, Length: 45466, dtype: object

In [401]:
movies_df.head(2)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_countries_code
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,[US]
1,NaN,65000000,"[Adventure, Family, Fantasy]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[Interscope Communications, Teitler Film, TriS...",[United States of America],1995-12-15,262797249.0,104.0,"[English, FranÃ§ais]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,[US]

Elimino los valores nulos de la columna 'release_date'

In [402]:
movies_df.release_date.isnull().sum()

87

In [403]:
movies_df.dropna(subset=['release_date'], inplace=True)

In [404]:
movies_df.production_companies.describe

<bound method NDFrame.describe of 0                                [Pixar Animation Studios]
1        [Interscope Communications, Teitler Film, TriS...
2                           [Lancaster Gate, Warner Bros.]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45460    [20th Century Fox Television, CanWest Global C...
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                   []
Name: production_companies, Length: 45379, dtype: object>

In [405]:
movies_df.genres.loc[movies_df.genres.str.contains('|') == False]

Series([], Name: genres, dtype: object)

In [406]:
def transforming_column(df,column):
    df[column] = df[column].apply(lambda x: x.strip("[]").replace("'",'').replace(',','|').replace('| ','|') if type(x) == str else x)

In [407]:
transforming_column(movies_df,'genres')
transforming_column(movies_df,'production_companies')
transforming_column(movies_df,'production_countries')
transforming_column(movies_df,'spoken_languages')
transforming_column(movies_df,'production_countries_code')

In [408]:
movies_df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,production_countries_code
0,Toy Story Collection,30000000,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,US
1,NaN,65000000,Adventure|Family|Fantasy,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,United States of America,1995-12-15,262797249.0,104.0,English|FranÃ§ais,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,US
2,Grumpy Old Men Collection,0,Comedy|Romance,15602,en,A family wedding reignites the ancient feud be...,11.7129,Lancaster Gate|Warner Bros.,United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,US
3,NaN,16000000,Comedy|Drama|Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,US
4,Father of the Bride Collection,0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,US

In [409]:
def export_to_csv(dataframe, path):
    dataframe.to_csv(path, sep=',',index=False,lineterminator='\n')
    print('CSV Downloaded')

Transformo los valores de la columna 'release_date' a formato de fecha

In [411]:
movies_df.release_date.isnull().sum()

0

In [413]:
for index, value in enumerate(movies_df.release_date):
    try:
        date = pd.to_datetime(arg=value, format="%Y-%m-%d").date()
        movies_df.loc[index, 'release_date'] = date
    except:
        movies_df.loc[index, 'release_date'] = np.nan

In [430]:
movies_df.release_date[0]

datetime.date(1995, 10, 30)

In [419]:
movies_df = movies_df.dropna(subset='release_date')

In [420]:
movies_df.release_date.isna().sum()

0

In [424]:
movies_df['release_date'] = pd.to_datetime(movies_df['release_date']).dt.date

Creo la columna 'release_year' para indicar el aÃ±o de lanzamiento de cada pelicula y 'release_month' para el mes que que se estreno la pelicula

In [431]:
movies_df['release_year'] = movies_df.release_date.apply(lambda x: x.year if type(x) == datetime.date else x )
movies_df['release_month'] = movies_df.release_date.apply(lambda x: x.month if type(x) == datetime.date else x )
movies_df['release_day'] = movies_df.release_date.apply(lambda x: x.day if type(x) == datetime.date else x )

In [433]:
movies_df.release_year

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
44978    2010
45070    1954
45148    2011
45203    2017
45338    1988
Name: release_year, Length: 45461, dtype: int64

In [330]:
movies_df.release_month

0        10
1        12
2        12
3        12
4         2
         ..
44978     6
45070     1
45148     6
45203     1
45338     1
Name: release_month, Length: 45464, dtype: object

Renombro la columna 'id' a 'movie_id' para poder distinguirla mejor

In [434]:
movies_df = movies_df.rename(columns={'id':'movie_id'})

Actualizo los valores nuelos de las columnas 'revenue' y 'budget' y les aplico 0

In [437]:
print('Cantidad de nulos en la columna revenue: ',movies_df.revenue.isna().sum())
print('Cantidad de nulos en la columna budget: ',movies_df.budget.isna().sum())

Cantidad de nulos en la columna revenue:  88
Cantidad de nulos en la columna budget:  85

In [438]:
movies_df.revenue.fillna(0,inplace=True)
movies_df.budget.fillna(0,inplace=True)

In [439]:
movies_df.budget.isna().sum()

0

In [440]:
movies_df.budget.value_counts()

0           36488
5000000       286
10000000      259
20000000      243
2000000       242
            ...
923             1
72500000        1
2160000         1
4439832         1
994000          1
Name: budget, Length: 1227, dtype: int64

In [441]:
movies_df.loc[movies_df.budget.astype(str).str.contains('/')] = 0.0

movies_df.budget = movies_df.budget.astype(float)

Creo la columna 'return' que representa el retorno de inversion que obtuvo la filmaciÃ³n. Esta calculada por el revenue / budget

In [442]:
movies_df['return'] = movies_df.revenue / movies_df.budget

Modifico los valores de return que son 'inf' o 'NaN'

In [443]:
movies_df['return'].loc[(movies_df['return'] == np.inf) | (movies_df['return'] == np.nan) | (movies_df['return'].isnull())] = 0.0

In [444]:
movies_df.head(3)

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return
0,Toy Story Collection,30000000.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,Released,NaN,Toy Story,7.7,5415.0,US,1995,10,30,12.451801
1,NaN,65000000.0,Adventure|Family|Fantasy,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,United States of America,1995-12-15,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,US,1995,12,15,4.043035
2,Grumpy Old Men Collection,0.0,Comedy|Romance,15602,en,A family wedding reignites the ancient feud be...,11.7129,Lancaster Gate|Warner Bros.,United States of America,1995-12-22,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,US,1995,12,22,0.000000

Reordeno las columnas

In [445]:
movies_df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'movie_id',
       'original_language', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'production_countries_code', 'release_year',
       'release_month', 'release_day', 'return'],
      dtype='object')

In [446]:
movies_df['release_year'] = pd.to_numeric(movies_df['release_year'], errors='coerce')
movies_df['release_month'] = pd.to_numeric(movies_df['release_month'], errors='coerce')
movies_df['release_day'] = pd.to_numeric(movies_df['release_day'], errors='coerce')

In [447]:
movies_df.head(3)

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,status,tagline,title,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return
0,Toy Story Collection,30000000.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,Released,NaN,Toy Story,7.7,5415.0,US,1995,10,30,12.451801
1,NaN,65000000.0,Adventure|Family|Fantasy,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,United States of America,1995-12-15,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,US,1995,12,15,4.043035
2,Grumpy Old Men Collection,0.0,Comedy|Romance,15602,en,A family wedding reignites the ancient feud be...,11.7129,Lancaster Gate|Warner Bros.,United States of America,1995-12-22,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,US,1995,12,22,0.000000

Elimino las filas que tienen varios campos vacios

In [448]:
empty_rows = movies_df.loc[movies_df.title.isnull() & movies_df.movie_id.isnull() & movies_df.original_language.isnull() & movies_df.vote_count.isnull()].index
movies_df = movies_df.drop(empty_rows)

In [449]:
movies_df = movies_df.rename(columns={'id':'movie_id'})

Ahora si, el dataset de movies se encunetra totalmente limpio y es apto para exportarlo como un archivo csv

In [450]:
movies_df.to_csv('../final_data/final_movies.csv',sep=',',index=False,lineterminator='\n')

---

# Transformaciones

In [451]:
movies = pd.read_csv('../final_data/final_movies.csv')
cast = pd.read_csv('../final_data/final_cast.csv')
crew = pd.read_csv('../final_data/final_crew.csv')
movies.movie_id = movies.movie_id.astype(int)

In [452]:
cast.head()

,movie_id,cast_id,character,gender,id,name,order,credit_id
0,862,14,Woody (voice),2,31,Tom Hanks,0,52fe4284c3a36847f8024f95
1,862,15,Buzz Lightyear (voice),2,12898,Tim Allen,1,52fe4284c3a36847f8024f99
2,862,16,Mr. Potato Head (voice),2,7167,Don Rickles,2,52fe4284c3a36847f8024f9d
3,862,17,Slinky Dog (voice),2,12899,Jim Varney,3,52fe4284c3a36847f8024fa1
4,862,18,Rex (voice),2,12900,Wallace Shawn,4,52fe4284c3a36847f8024fa5

In [453]:
crew.head()

,movie_id,credit_id,department,gender,id,job,name
0,862,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter
1,862,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon
2,862,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton
3,862,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen
4,862,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow

#### Creo una lista con todos los directores que hay en el dataset con su respectivo movie_id

In [454]:
director_per_movie = crew[['movie_id','name']].loc[crew.job == 'Director']
director_per_movie = director_per_movie.rename(columns={'name':'director'})

In [455]:
director_per_movie.movie_id = director_per_movie.movie_id.astype(int)

AÃ±ado la columna de directores al dataframe de movies haciendo un join por el movie_id

In [456]:
merged_df = pd.merge(movies,director_per_movie,how='left',on='movie_id')

In [457]:
merged_df.head()

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return,director
0,Toy Story Collection,30000000.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,NaN,Toy Story,7.7,5415.0,US,1995,10,30,12.451801,John Lasseter
1,NaN,65000000.0,Adventure|Family|Fantasy,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,United States of America,1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,US,1995,12,15,4.043035,Joe Johnston
2,Grumpy Old Men Collection,0.0,Comedy|Romance,15602,en,A family wedding reignites the ancient feud be...,11.712900,Lancaster Gate|Warner Bros.,United States of America,1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,US,1995,12,22,0.000000,Howard Deutch
3,NaN,16000000.0,Comedy|Drama|Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,US,1995,12,22,5.090760,Forest Whitaker
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,US,1995,2,10,0.000000,Charles Shyer

Elimino las filas que tiene duplicados el campo de movie_id

In [458]:
movies.movie_id.value_counts()

0         3
141971    3
10991     2
109962    2
97995     2
         ..
107643    1
64651     1
40594     1
23104     1
461257    1
Name: movie_id, Length: 45344, dtype: int64

In [459]:
movies = movies.drop_duplicates(subset='movie_id')
movies.movie_id.value_counts()

862       1
202198    1
124026    1
300168    1
132316    1
         ..
35690     1
18406     1
39053     1
37169     1
461257    1
Name: movie_id, Length: 45344, dtype: int64

Creo una lista con los actores de cada pelicula

In [460]:
actors_df = pd.DataFrame(columns={'movie_id':[],'actors':[]})

In [461]:
# Una forma para ver los actores que tiene una pelicula por su movie_id
cast.name.loc[cast.movie_id == 862].unique()

array(['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim Varney',
       'Wallace Shawn', 'John Ratzenberger', 'Annie Potts', 'John Morris',
       'Erik von Detten', 'Laurie Metcalf', 'R. Lee Ermey',
       'Sarah Freeman', 'Penn Jillette'], dtype=object)

In [462]:
for id in movies.movie_id:
    data = {}
    actors = cast.name.loc[cast.movie_id == int(id)].unique()
    list_actors = ''
    for actor in actors:
        list_actors += actor
        list_actors += '|'
    
    
    data['movie_id'] = id
    data['actors'] = list_actors[:-1]
    actors_df = actors_df.append(data, ignore_index=True)

In [463]:
actors_df.head()

  movie_id                                             actors
0      862  Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1     8844  Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2    15602  Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
3    31357  Whitney Houston|Angela Bassett|Loretta Devine|...
4    11862  Steve Martin|Diane Keaton|Martin Short|Kimberl...

# â˜»

In [464]:
print('Actors df movie_ids',len(actors_df.movie_id.unique()))
print('Movie df movie_ids',len(movies.movie_id.unique()))

Actors df movie_ids 45344
Movie df movie_ids 45344

In [465]:
actors_df.movie_id.loc[actors_df.actors.str.contains('Robin Williams')]

1          8844
139       11000
183       11472
200        9090
413       46924
          ...
31028     36952
31705    259963
43323     21586
43480     27631
43507     20211
Name: movie_id, Length: 82, dtype: object

In [466]:
actors_df.to_csv('../final_data/actors_data.csv',sep=',',lineterminator='\n',index=False)

In [467]:
merged_df = pd.merge(merged_df,actors_df, how='left',on='movie_id')
merged_df = merged_df.drop_duplicates(subset='movie_id')
merged_df.shape

(45344, 25)

In [468]:
merged_df.head()

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,title,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return,director,actors
0,Toy Story Collection,30000000.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,Toy Story,7.7,5415.0,US,1995,10,30,12.451801,John Lasseter,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1,NaN,65000000.0,Adventure|Family|Fantasy,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,United States of America,1995-12-15,...,Jumanji,6.9,2413.0,US,1995,12,15,4.043035,Joe Johnston,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2,Grumpy Old Men Collection,0.0,Comedy|Romance,15602,en,A family wedding reignites the ancient feud be...,11.712900,Lancaster Gate|Warner Bros.,United States of America,1995-12-22,...,Grumpier Old Men,6.5,92.0,US,1995,12,22,0.000000,Howard Deutch,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
3,NaN,16000000.0,Comedy|Drama|Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,Waiting to Exhale,6.1,34.0,US,1995,12,22,5.090760,Forest Whitaker,Whitney Houston|Angela Bassett|Loretta Devine|...
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,...,Father of the Bride Part II,5.7,173.0,US,1995,2,10,0.000000,Charles Shyer,Steve Martin|Diane Keaton|Martin Short|Kimberl...

Elimino las columnas que se crearon de actors que estan de mas

In [469]:
#merged_df = merged_df.drop(columns={'actors_x','actors_y','actors_x.1','actors_y.1'})

In [471]:
merged_df.to_csv('../final_data/combined_data.csv',sep=',',index=False,lineterminator='\n')