In [332]:
from fastapi import FastAPI
from pydantic import BaseModel

In [237]:
app = FastAPI()

In [250]:
@app.get('/cantidad_filmaciones_mes/{mes}')
def cantidad_filmaciones_mes(mes:str):
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'''
    return {'mes':mes, 'cantidad':respuesta}

@app.get('/cantidad_filmaciones_dia{dia}')
def cantidad_filmaciones_dia(dia:str):
    '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrebaron ese dia historicamente'''
    return {'dia':dia, 'cantidad':respuesta}

@app.get('/score_titulo/{titulo}')
def score_titulo(titulo:str):
    '''Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score'''
    return {'titulo':titulo, 'anio':respuesta, 'popularidad':respuesta}

@app.get('/votos_titulo/{titulo}')
def votos_titulo(titulo:str):
    '''Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. 
    La misma variable deberá de contar con al menos 2000 valoraciones, 
    caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.'''
    return {'titulo':titulo, 'anio':respuesta, 'voto_total':respuesta, 'voto_promedio':respuesta}

@app.get('/get_actor/{nombre_actor}')
def get_actor(nombre_actor:str):
    '''Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    Además, la cantidad de películas que en las que ha participado y el promedio de retorno'''
    return {'actor':nombre_actor, 'cantidad_filmaciones':respuesta, 'retorno_total':respuesta, 'retorno_promedio':respuesta}

@app.get('/get_director/{nombre_director}')
def get_director(nombre_director:str):
    ''' Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. 
    Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.'''
    return {'director':nombre_director, 'retorno_total_director':respuesta, 
    'peliculas':respuesta, 'anio':respuesta,'retorno_pelicula':respuesta, 
    'budget_pelicula':respuesta, 'revenue_pelicula':respuesta}

# ML
@app.get('/recomendacion/{titulo}')
def recomendacion(titulo:str):
    '''Ingresas un nombre de pelicula y te recomienda las similares en una lista'''
    return {'lista recomendada': respuesta}

# Funciones para la API

def cantidad_filmaciones_mes( Mes ): Se ingresa un mes en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en el mes consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en el mes de X

In [251]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings('ignore')
import datetime

In [252]:
meses_1 = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']
meses_2 = [mes.upper() for mes in meses_1]
meses_3 = [mes.capitalize() for mes in meses_1]
meses = meses_1 + meses_2 + meses_3

meses_numeros = [numero for numero in range(1,13)]
meses_numeros = meses_numeros * 3

#### Datasets

In [313]:
data = pd.read_csv('../final_data/combined_data.csv',sep=',')
cast = pd.read_csv('../final_data/final_cast.csv')

In [254]:
def filamaciones_xmes(mes:str):
    meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre', 'ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SEPTIEMBRE', 'OCTUBRE', 'NOVIEMBRE', 'DICIEMBRE', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
    meses_numeros = [1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12]

    mes_index = meses.index(mes)
    mes_numero = meses_numeros[mes_index]
    
    cantidad_xmes = data['movie_id'].loc[data.release_month == mes_numero].count()
    return {'mes':{mes},'cantidad_fimaciones_mes':{cantidad_xmes}}

In [255]:
filamaciones_xmes('JUNIO')

{'mes': {'JUNIO'}, 'cantidad_fimaciones_mes': {3152}}

def cantidad_filmaciones_dia( Dia ): Se ingresa un día en idioma Español. Debe devolver la cantidad de películas que fueron estrenadas en día consultado en la totalidad del dataset.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en los días X

In [256]:
def filamaciones_xdia(dia:str):
    dia = int(dia)
    dias = [dia for dia in range(1,32)]
    if dia not in dias:
        return {'dia':dia, 'cantidad_filmaciones_dia':0}
    else:
        cantidad_xdia = data.movie_id.loc[data.release_day == dia].count()
        return {'dia':dia, 'cantidad_filmaciones_dia':cantidad_xdia}

In [257]:
filamaciones_xdia('2')

{'dia': 2, 'cantidad_filmaciones_dia': 1195}

In [258]:
data.loc[data.title == 'Toy Story'].index

Int64Index([0], dtype='int64')

def score_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, el año de estreno y el score.

In [259]:
def score_titulo(titulo_de_la_filmacion: str):
    filmaciones = list(data.title.unique())
    if titulo_de_la_filmacion not in filmaciones:
        return {'titulo':'Movie not found'}
    else:
        movie_index = data.loc[data.title == titulo_de_la_filmacion].index
        movie_year = data.release_year.iloc[movie_index]
        movie_score = data.popularity.iloc[movie_index]

        if pd.isna(movie_year).any():
            movie_year = 'Desconocido'
        else:
            movie_year = int(movie_year)

        if pd.isna(movie_score).any():
            movie_score = 'Desconocido'
        else:
            movie_score = float(movie_score)

        return {'titulo':titulo_de_la_filmacion,
                'anio':movie_year,
                'popularity':movie_score}

In [260]:
score_titulo('Toy Story')

{'titulo': 'Toy Story', 'anio': 1995, 'popularity': 21.946943}

def votos_titulo( titulo_de_la_filmación ): Se ingresa el título de una filmación esperando como respuesta el título, la cantidad de votos y el valor promedio de las votaciones. La misma variable deberá de contar con al menos 2000 valoraciones, caso contrario, debemos contar con un mensaje avisando que no cumple esta condición y que por ende, no se devuelve ningun valor.
                    Ejemplo de retorno: La película X fue estrenada en el año X. La misma cuenta con un total de X valoraciones, con un promedio de X

In [261]:
data.head()

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,title,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return,director,actors
0,Toy Story Collection,30000000.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,Toy Story,7.7,5415.0,US,1995,10,30,12.451801,John Lasseter,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...
1,NaN,65000000.0,Adventure|Family|Fantasy,8844,en,When siblings Judy and Peter discover an encha...,17.015539,Interscope Communications|Teitler Film|TriStar...,United States of America,1995-12-15,...,Jumanji,6.9,2413.0,US,1995,12,15,4.043035,Joe Johnston,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...
2,Grumpy Old Men Collection,0.0,Comedy|Romance,15602,en,A family wedding reignites the ancient feud be...,11.712900,Lancaster Gate|Warner Bros.,United States of America,1995-12-22,...,Grumpier Old Men,6.5,92.0,US,1995,12,22,0.000000,Howard Deutch,Walter Matthau|Jack Lemmon|Ann-Margret|Sophia ...
3,NaN,16000000.0,Comedy|Drama|Romance,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,...,Waiting to Exhale,6.1,34.0,US,1995,12,22,5.090760,Forest Whitaker,Whitney Houston|Angela Bassett|Loretta Devine|...
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions|Touchstone Pictures,United States of America,1995-02-10,...,Father of the Bride Part II,5.7,173.0,US,1995,2,10,0.000000,Charles Shyer,Steve Martin|Diane Keaton|Martin Short|Kimberl...

In [262]:
def votos_titulo(titulo_de_la_filmacion: str):
    filmaciones = list(data.title.unique())
    if titulo_de_la_filmacion not in filmaciones:
        return {'titulo': 'Movie not found'}
    else:
        movie_index = data.loc[data.title == titulo_de_la_filmacion].index
        movie_year = data.release_year.iloc[movie_index].item() if pd.notna(data.release_year.iloc[movie_index]).any() else 'Desconocido'
        movie_vote_count = data.vote_count.iloc[movie_index].item() if pd.notna(data.vote_count.iloc[movie_index]).any() else 'Desconocido'
        movie_vote_average = data.vote_average.iloc[movie_index].item() if pd.notna(data.vote_average.iloc[movie_index]).any() else 'Desconocido'

        if pd.notna(movie_vote_count) and int(movie_vote_count) < 2000:
            movie_vote_count = 'Insuficientes votos'
            movie_vote_average = 'Insuficientes votos'
            mensaje = 'Este titulo tiene menos de 2000 votos'

        return {
            'titulo': titulo_de_la_filmacion,
            'anio': int(movie_year) if isinstance(movie_year, float) else movie_year,
            'votos': int(movie_vote_count) if isinstance(movie_vote_count, float) else movie_vote_count,
            'valoracion_promedio': float(movie_vote_average) if isinstance(movie_vote_average, float) else movie_vote_average,
            'mensaje': mensaje if 'mensaje' in locals() else None
        }

In [263]:
votos_titulo('Grumpier Old Men')

{'titulo': 'Grumpier Old Men',
 'anio': 1995,
 'votos': 'Insuficientes votos',
 'valoracion_promedio': 'Insuficientes votos',
 'mensaje': 'Este titulo tiene menos de 2000 votos'}

def get_actor( nombre_actor ): Se ingresa el nombre de un actor que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, la cantidad de películas que en las que ha participado y el promedio de retorno. La definición no deberá considerar directores.
                    Ejemplo de retorno: El actor X ha participado de X cantidad de filmaciones, el mismo ha conseguido un retorno de X con un promedio de X por filmación

In [267]:
data.head(1)

,belongs_to_collection,budget,genres,movie_id,original_language,overview,popularity,production_companies,production_countries,release_date,...,title,vote_average,vote_count,production_countries_code,release_year,release_month,release_day,return,director,actors
0,Toy Story Collection,30000000.0,Animation|Comedy|Family,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,...,Toy Story,7.7,5415.0,US,1995,10,30,12.451801,John Lasseter,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...

In [307]:
def get_actor(nombre_actor: str):
    """Obtiene el actor con nombre dado"""
    all_actors = list(cast.name.unique())

    if nombre_actor not in all_actors:
        return {'mensaje':'Actor not found'}
    else:
        cantidad_titulos_actor = int(data.movie_id.loc[data.actors.fillna('').str.contains(nombre_actor)].count())
        retorno_actor = float(data['return'].loc[data.actors.fillna('').str.contains(nombre_actor)].sum())
        promedio_x_pelicula = retorno_actor / cantidad_titulos_actor

        return {'actor':nombre_actor,
                'cantidad_filmaciones':cantidad_titulos_actor,
                'retorno_total_del_actor':retorno_actor,
                'promedio_de_retorno_por_pelicula':promedio_x_pelicula}

In [311]:
get_actor('Jim Carrey')

{'actor': 'Jim Carrey',
 'cantidad_filmaciones': 42,
 'retorno_total_del_actor': 114.35521099633027,
 'promedio_de_retorno_por_pelicula': 2.7227431189602447}

In [322]:
crew.head()

,movie_id,credit_id,department,gender,id,job,name
0,862,52fe4284c3a36847f8024f49,Directing,2,7879,Director,John Lasseter
1,862,52fe4284c3a36847f8024f4f,Writing,2,12891,Screenplay,Joss Whedon
2,862,52fe4284c3a36847f8024f55,Writing,2,7,Screenplay,Andrew Stanton
3,862,52fe4284c3a36847f8024f5b,Writing,2,12892,Screenplay,Joel Cohen
4,862,52fe4284c3a36847f8024f61,Writing,0,12893,Screenplay,Alec Sokolow

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma.

In [347]:
def get_director(nombre_director: str):
    if nombre_director not in data.director.unique():
        return {'mensaje':'Director no encontrado en la base de datos'}
    else:
        retorno_total_director = data['return'].loc[data.director == nombre_director].sum()
        movies_indexes = data.title.loc[data.director == nombre_director].index
        movies_data = []
        for index in movies_indexes:
            movie_title = data.title.iloc[index]
            movie_release_year = data.release_year.iloc[index]
            movie_return = data['return'].iloc[index]
            movie_budget = data.budget.iloc[index]
            movie_revenue = data.revenue.iloc[index]

            info = {'title':movie_title,
                    'release_year':movie_release_year,
                    'return':movie_return,
                    'budget':movie_budget,
                    'revenue':movie_revenue}
            movies_data.append(info)
        return {'director':nombre_director,
                'retorno_total_director':retorno_total_director,
                'peliculas':movies_data}

In [350]:
get_director('John Lasseter')

{'director': 'John Lasseter',
 'retorno_total_director': 27.65437835777778,
 'peliculas': [{'title': 'Toy Story',
   'release_year': 1995,
   'return': 12.4518011,
   'budget': 30000000.0,
   'revenue': 373554033.0},
  {'title': "A Bug's Life",
   'release_year': 1998,
   'return': 3.027157158333333,
   'budget': 120000000.0,
   'revenue': 363258859.0},
  {'title': 'Toy Story 2',
   'release_year': 1999,
   'return': 5.526298544444445,
   'budget': 90000000.0,
   'revenue': 497366869.0},
  {'title': 'Luxo Jr.',
   'release_year': 1996,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0},
  {'title': 'Cars',
   'release_year': 1996,
   'return': 3.849859575,
   'budget': 120000000.0,
   'revenue': 461983149.0},
  {'title': 'Cars 2',
   'release_year': 1941,
   'return': 2.79926198,
   'budget': 200000000.0,
   'revenue': 559852396.0},
  {'title': 'Tin Toy',
   'release_year': 1993,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0},
  {'title': "Red's Dream",
   'release_year': 2012,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0},
  {'title': 'Knick Knack',
   'release_year': 2011,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0},
  {'title': 'Mater and the Ghostlight',
   'release_year': 2014,
   'return': 0.0,
   'budget': 0.0,
   'revenue': 0.0}]}

In [340]:
nombre_director = 'John Lasseter'

movies_indexes = data.title.loc[data.director == nombre_director].index
movies_data = []
for index in movies_indexes:
    movie_title = data.title.iloc[index]
    movie_release_year = data.release_year.iloc[index]
    movie_return = data['return'].iloc[index]
    movie_budget = data.budget.iloc[index]
    movie_revenue = data.revenue.iloc[index]

    info = {'title':movie_title,
            'release_year':movie_release_year,
            'return':movie_return,
            'budget':movie_budget,
            'revenue':movie_revenue}
    movies_data.append(info)
print([d for d in movies_data])

[{'title': 'Toy Story', 'release_year': 1995, 'return': 12.4518011, 'budget': 30000000.0, 'revenue': 373554033.0}, {'title': "A Bug's Life", 'release_year': 1998, 'return': 3.027157158333333, 'budget': 120000000.0, 'revenue': 363258859.0}, {'title': 'Toy Story 2', 'release_year': 1999, 'return': 5.526298544444445, 'budget': 90000000.0, 'revenue': 497366869.0}, {'title': 'Luxo Jr.', 'release_year': 1996, 'return': 0.0, 'budget': 0.0, 'revenue': 0.0}, {'title': 'Cars', 'release_year': 1996, 'return': 3.849859575, 'budget': 120000000.0, 'revenue': 461983149.0}, {'title': 'Cars 2', 'release_year': 1941, 'return': 2.79926198, 'budget': 200000000.0, 'revenue': 559852396.0}, {'title': 'Tin Toy', 'release_year': 1993, 'return': 0.0, 'budget': 0.0, 'revenue': 0.0}, {'title': "Red's Dream", 'release_year': 2012, 'return': 0.0, 'budget': 0.0, 'revenue': 0.0}, {'title': 'Knick Knack', 'release_year': 2011, 'return': 0.0, 'budget': 0.0, 'revenue': 0.0}, {'title': 'Mater and the Ghostlight', 'release_year': 2014, 'return': 0.0, 'budget': 0.0, 'revenue': 0.0}]

In [338]:
class Pelicula(BaseModel):
    titulo: str
    anio_lanzamiento: str
    retorno_pelicula: str
    costo_pelicula: str
    ganancia_pelicula: str