Ahora con la data limpia, extraida correctamente y cargada en archivos 'csv', procedo a cargar dichos archivos para su limpieza y normalización de columnas

# EDA

In [37]:
# Librerias a utilizar
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')
import ast

In [38]:
movies_csv = pd.read_csv('../clean_data/clean_movies_dataset.csv')

In [39]:
movies_csv.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_countries_code
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,[US]
1,False,NaN,65000000,"[Adventure, Family, Fantasy]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,[US]

In [40]:
df_movies = movies_csv.copy()
df_movies.shape

(45466, 25)

In [41]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_countries_code
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0,[US]
1,False,NaN,65000000,"[Adventure, Family, Fantasy]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,[US]
2,False,Grumpy Old Men Collection,0,"[Comedy, Romance]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,[US]
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,[US]
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[US]

Actualizo los valores nuelos de las columnas 'revenue' y 'budget' y les aplico 0

In [42]:
print('Cantidad de nulos en la columna revenue: ',df_movies.revenue.isna().sum())
print('Cantidad de nulos en la columna budget: ',df_movies.budget.isna().sum())

Cantidad de nulos en la columna revenue:  6
Cantidad de nulos en la columna budget:  0

In [43]:
df_movies.revenue.fillna(0,inplace=True)
# df_movies.revenue.loc[df_movies.revenue.isna()] = 0

In [44]:
df_movies.revenue.isna().sum()

0

In [45]:
df_movies.budget.value_counts()

0           36573
5000000       286
10000000      259
20000000      243
2000000       242
            ...
923             1
72500000        1
2160000         1
4439832         1
1254040         1
Name: budget, Length: 1226, dtype: int64

Elimino los valores nulos de la columna 'release_date'

In [46]:
print('Antes:',df_movies.shape)
df_movies.dropna(subset=['release_date'],inplace=True)
print('Despues:',df_movies.shape)

Antes: (45466, 25)
Despues: (45379, 25)

Transformo los campos de fecha a formato 'AAAA-mm-dd'

In [47]:
#df_movies.release_date = pd.to_datetime(arg=df_movies.release_date, format='%Y-%m-%d')

Al intentar trasnformar la columna 'release_date' a un formato de fecha,  recibo un error que ya hay valores que no tienen el formato correcto. Ahora los voy a buscar

In [48]:
incorrectos = df_movies.release_date.loc[df_movies.release_date.str.contains('-') == False].index

In [49]:
df_movies.loc[incorrectos]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_countries_code
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[Carousel Productions, Telescene Film Group Pr...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[Aniplex, BROSTA TV, GoHands, Mardock Scramble...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[Odyssey Media, Pulser Productions, Rogue Stat...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]

Viendo las filas completos de los valores que estan incorrectos en la columna 'release_date' me puedo dar cuenta que las fechas correspondientes estan en la columna incorrecta, en 'id'. Esto pudo haber sido por un error en ingesta de los datos por parte de algun personal de trabajo o simplemente por una incorrecta descarga de los datos al momento de una exportación de la data.<br><br>
Ademas, podria considerar que estos valores incorrectos en la columna 'release_date' podrian corresponder al 'id' (*pero por las dudas, mejor no hago esa modificación para prevenir futuros errores*)

In [50]:
df_movies[['id','release_date']].loc[incorrectos]

               id release_date
19730  1997-08-20            1
29503  2012-09-29           12
35587  2014-01-01           22

In [51]:
df_movies.release_date.loc[incorrectos] = df_movies.id.loc[incorrectos]

In [52]:
df_movies[['id','release_date']].loc[incorrectos]

               id release_date
19730  1997-08-20   1997-08-20
29503  2012-09-29   2012-09-29
35587  2014-01-01   2014-01-01

Y ahora modifico la columna 'id' y actualizo esos valores a nulos

In [53]:
df_movies.id.loc[incorrectos] = np.nan

Vuelvo a consultar por lo valores de la columna 'release_date' que no tengan un guion (-), es decir, los que no cumplirian con el formato de fecha

In [54]:
df_movies.release_date.loc[df_movies.release_date.str.contains('-') == False]

Series([], Name: release_date, dtype: object)

Ahora que me aseguro que todos los datos van a poder ser transformados a formato de fecha sin problema, aplico la siguiente transformación

In [55]:
df_movies.release_date = pd.to_datetime(arg= df_movies.release_date, format='%Y-%m-%d')
df_movies.release_date.describe
#Name: release_date, Length: 45379, dtype: datetime64[ns]>

<bound method NDFrame.describe of 0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45379, dtype: datetime64[ns]>

---

Creo una columna llamada 'release_year' que represente el año de lanzamiento de la pelicula

In [56]:
df_movies['release_year'] = df_movies.release_date.dt.year
df_movies['release_month'] = df_movies.release_date.dt.month

Creo la columna 'retorn' que representa el retorno de la inversion que tuvo la pelicula

In [57]:
#df_movies['return'] = df_movies.revenue / df_movies.budget

In [58]:
excepciones = df_movies.budget.loc[df_movies.budget.str.isnumeric() == False].index

Acá tome la decision de eliminar estas filas que estan mal cargadas. Son las mismas que tenian mal cargado la columna 'release_date' anteriormente. Aparentemente los datos de estas filas estan cargados incorrectamente por lo que contienen varias columnas con valores nulos, por lo que para que no sigan interfiriendo en el dataset sin aportar valor, las elimino y listo

In [59]:
df_movies.drop(excepciones, inplace=True)

Ahora si ya puedo hacer la operacion entre 'revenue' y 'budget' para la creación de la columna 'return'

In [60]:
df_movies.budget = df_movies.budget.astype(float)

In [61]:
df_movies['return'] = df_movies.revenue / df_movies.budget

Elimino las columnas que no tienen gran importancia

In [62]:
df_movies.drop(columns={"video","imdb_id","adult","original_title","poster_path","homepage"}, inplace=True)

Por ultimo, quiero crear un la columna que represente el codigo de los idiomas en los que esta la pelicula

In [63]:
unique_languages = []
for array in df_movies.spoken_languages.unique():
    array = array.strip('[]')
    languages = array.split(',')
    for l in languages:
        l = l.lstrip().rstrip()
        if l in unique_languages:
            continue
        else:
            unique_languages.append(l)

In [64]:
unique_languages

['English',
 'Français',
 'Español',
 'Deutsch',
 'Pусский',
 'Latin',
 'Nederlands',
 '广州话 / 廣州話',
 '普通话',
 'Magyar',
 '',
 'Italiano',
 'shqip',
 '한국어/조선말',
 'فارسی',
 'Dansk',
 '日本語',
 'العربية',
 'Bosanski',
 'Hrvatski',
 'Română',
 'Bahasa indonesia',
 'Bahasa melayu',
 'svenska',
 'עִבְרִית',
 'Český',
 'Polski',
 'Gaeilge',
 'Norsk',
 'Slovenčina',
 'Tiếng Việt',
 'Português',
 'हिन्दी',
 'Català',
 'Íslenska',
 'Afrikaans',
 'Srpski',
 'বাংলা',
 'Wolof',
 'Cymraeg',
 'ภาษาไทย',
 'Latviešu',
 'Kiswahili',
 'български език',
 'ελληνικά',
 'Türkçe',
 'suomi',
 'Esperanto',
 'Український',
 'ქართული',
 'Bokmål',
 'No Language',
 'euskera',
 'Azərbaycan',
 'Malti',
 'اردو',
 'isiZulu',
 'Bamanankan',
 'پښتو',
 'Somali',
 'ਪੰਜਾਬੀ',
 'беларуская мова',
 'தமிழ்',
 'Galego',
 'Kinyarwanda',
 'қазақ',
 'Eesti',
 'Lietuvi\\\\x9akai',
 'Slovenščina',
 'తెలుగు',
 'Fulfulde',
 '??????',
 '?????',
 'ozbek',
 'Hausa']

Obtuve gracias a ChatGPT el codigo correspondiente a cada pais

In [65]:
languages_names = ['English', 'Français', 'Español', 'Deutsch', 'Pусский', 'Latin', 'Nederlands', '广州话 / 廣州話', '普通话', 'Magyar', 'Italiano', 'shqip', '한국어/조선말', 'فارسی', 'Dansk', '日本語', 'العربية', 'Bosanski', 'Hrvatski', 'Română', 'Bahasa indonesia', 'Bahasa melayu', 'svenska', 'עִבְרִית', 'Český', 'Polski', 'Gaeilge', 'Norsk', 'Slovenčina', 'Tiếng Việt', 'Português', 'हिन्दी', 'Català', 'Íslenska', 'Afrikaans', 'Srpski', 'বাংলা', 'Wolof', 'Cymraeg', 'ภาษาไทย', 'Latviešu', 'Kiswahili', 'български език', 'ελληνικά', 'Türkçe', 'suomi', 'Esperanto', 'Український', 'ქართული', 'Bokmål', 'No Language', 'euskera', 'Azərbaycan', 'Malti', 'اردو', 'isiZulu', 'Bamanankan', 'پښتو', 'Somali', 'ਪੰਜਾਬੀ', 'беларуская мова', 'தமிழ்', 'Galego', 'Kinyarwanda', 'қазақ', 'Eesti', 'Lietuvi\\x9akai', 'Slovenščina', 'తెలుగు', 'Fulfulde', '??????', '?????', 'ozbek', 'Hausa']
languages_codes = ['en', 'fr', 'es', 'de', 'ru', 'la', 'nl', 'zh', 'zh', 'hu', 'it', 'sq', 'ko', 'fa', 'da', 'ja', 'ar', 'bs', 'hr', 'ro', 'id', 'ms', 'sv', 'he', 'cs', 'pl', 'ga', 'no', 'sk', 'vi', 'pt', 'hi', 'ca', 'is', 'af', 'sr', 'bn', 'wo', 'cy', 'th', 'lv', 'sw', 'bg', 'el', 'tr', 'fi', 'eo', 'uk', 'ka', 'nb', 'xx', 'eu', 'az', 'mt', 'ur', 'zu', 'bm', 'ps', 'so', 'pa', 'be', 'ta', 'gl', 'rw', 'kk', 'et', 'lt', 'sl', 'te', 'ff', 'uz', 'ha']
# Elimino de la lista de lenguages_name los valores '??????' y '?????'
del languages_names[-4]
del languages_names[-3]

In [66]:
# Transformación a mayusculas
for index in range(len(languages_codes)):
    languages_codes[index] = languages_codes[index].upper()

In [67]:
df_movies['spoken_languages_code'] = np.nan

In [68]:
for index, value in enumerate(df_movies.spoken_languages):
    codes_list = []
    value = str(value)
    value = value.strip('[]')
    list_values = value.split(',')
    for language in list_values:
        language = language.lstrip().rstrip()
        if language not in languages_names:
            continue
        else:
            i = languages_names.index(language)
            code = languages_codes[i]
            codes_list.append(code)
        
    codes_list.sort()
    df_movies.at[index, 'spoken_languages_code'] = str(codes_list).replace("'",'')

In [69]:
df_movies.spoken_languages_code

0            [EN]
1        [EN, FR]
2            [EN]
3            [EN]
4            [EN]
           ...
44978        [EN]
45070        [EN]
45148        [EN]
45203        [SV]
45338    [EN, FR]
Name: spoken_languages_code, Length: 45464, dtype: object

Por ejemplo, filtro las peliculas que estan disponible en el idioma Ruso por el codigo del lenguage

In [70]:
df_movies.loc[df_movies['spoken_languages_code'].str.contains('RU', na=False), 'title']

9                     GoldenEye
36       Across the Sea of Time
64                     Bio-Dome
86            Dunston Checks In
167                     Hackers
                  ...
45346      High Plains Invaders
3628                        NaN
18362                       NaN
32738                       NaN
44065                       NaN
Name: title, Length: 1562, dtype: object

Finalmente, asi queda el dataframe con todos los cambios de transformaciónes aplicados

In [71]:
df_movies.sort_values(by='id')

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,spoken_languages,status,tagline,title,vote_average,vote_count,production_countries_code,release_year,return,spoken_languages_code
2429,NaN,1350000.0,"[Comedy, Crime]",100,en,A card sharp and his unwillingly-enlisted frie...,4.60786,"[Handmade Films Ltd., PolyGram Filmed Entertai...",[United Kingdom],1998-03-05,...,[English],Released,A Disgrace to Criminals Everywhere.,"Lock, Stock and Two Smoking Barrels",7.5,1671.0,[GB],1998.0,2.887088,[FR]
13609,NaN,0.0,"[Comedy, Drama]",10000,es,A group of tenants living in an old house are ...,0.281609,[Ministère de la Culture et de la Francophonie...,"[Colombia, France, Italy]",1993-12-25,...,[Español],Released,NaN,La estrategia del caracol,7.2,9.0,"[CO, FR, IT]",1993.0,NaN,[EN]
4435,NaN,0.0,"[Comedy, Science Fiction]",10001,en,Albert Einstein is the son of a Tasmanian appl...,2.562888,[Warner Bros.],[Australia],1988-12-15,...,[English],Released,E=mc²,Young Einstein,4.5,46.0,[AU],1988.0,NaN,[EN]
17451,NaN,0.0,"[Drama, War]",100010,en,"A rookie flyer, Ens. Alan Drake, joins the fam...",0.769266,[Metro-Goldwyn-Mayer (MGM)],[United States of America],1940-12-27,...,[English],Released,"T-H-R-I-L-L AMERICA! Here come The Flying ""HEL...",Flight Command,6.0,1.0,[US],1940.0,NaN,[]
36946,NaN,0.0,[Drama],100017,de,Deals with the obsessive relationship between ...,2.964103,[MMM Film Zimmermann & Co],[Germany],2006-08-06,...,[Deutsch],Released,NaN,Hounded,4.8,7.0,[DE],2006.0,NaN,[HI]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[EN]
45070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[EN]
45148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[EN]
45203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[SV]
45338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[EN, FR]"

In [72]:
#df_movies.to_csv('../clean_data/transformed_movies_dataset.csv',sep=',',index=False)